---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /envkeymonitor-mutate
  failurePolicy: Fail
  name: menvkeymonitor-v1.kb.io
  rules:
  - apiGroups:
    - config.core.nvsh-ram.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - envkeymonitors
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /env-keys-validation
  failurePolicy: Fail
  name: vconfigmap-v1.kb.io
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - configmaps
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /envkeymonitor-validate
  failurePolicy: Fail
  name: venvkeymonitor-v1.kb.io
  rules:
  - apiGroups:
    - config.core.nvsh-ram.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - envkeymonitors
  sideEffects: None
