---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - config.core.nvsh-ram.io
  resources:
  - envkeymonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.core.nvsh-ram.io
  resources:
  - envkeymonitors/finalizers
  verbs:
  - update
- apiGroups:
  - config.core.nvsh-ram.io
  resources:
  - envkeymonitors/status
  verbs:
  - get
  - patch
  - update
